<% @profiles.each do |profile| %>
<div class="row">

  <!-- Avatar -->
  <div class="col-md-2">
    <%= image_tag(profile.avatar, class: "img-circle img-responsive") %>
  </div>

  <!-- Perfil -->
  <div class="col-md-4">

    <!-- Información -->
    <div class="row">
      <div class="col-md-7">
        <h2>
        <a href="/profiles/<%= profile.id %>"><%= profile.name %></a>
        <% if profile.profile_status == 'PRIVATE' %>
        <i class="glyphicon glyphicon-lock" aria-hidden="true"></i>
        <% end %>
        </h2>
        <%= profile.description %>
      </div>
      <div class="col-md-5 text-right escritura gris">
        <!-- TODO Añadir atributo de valoración -->
        <p>Obras adquiridas: <%= Addition.where(profile_id: profile.id).count %></p>
        <p>Obras creadas: <%= profile.stories.count %></p>
      </div>
    </div>

    <!-- Botón de seguir -->
    <% if user_signed_in? %>
    <div class="row container-fluid boton">
      <% if current_user.profile == profile %>
        <%= link_to "Editar mi perfil", "/profiles/#{profile.id}/edit", class: "btn btn-primary btn-block" %>
      <% elsif !current_user.profile.follows?(profile) %>
        <%= link_to "Seguir", "/profiles/follow/#{profile.id}", class: "btn btn-primary btn-block" %>
      <% else %>
        <%= link_to "Dejar de seguir", "/profiles/unfollow/#{profile.id}", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
    <% end %>

    <!-- Seguidores/siguiendo -->
    <div class="row gris">
      <div class="col-md-3 col-md-offset-3 text-center">
        <%= profile.followers_count %><br/>seguidores
      </div>
      <div class="col-md-3 text-center left-divider">
        <%= profile.followees_count %><br/>siguiendo
      </div>
    <!--  <div class="col-md-3 text-center left-divider">
        < Addition.where(profile_id: profile.id).count %><br/>adquisiciones
      </div> -->
    </div>
  </div>

  <!-- Historias -->

  <div class="col-md-6">
    <!-- Tabs para cada listado -->
    <ul class="nav nav-tabs nav-justified">

      <!-- Historias adquiridas (sólo usuarios logueados) -->
      <!-- codigo comentando en plan cutre-->

      <% if false %>
          <li <% if @option == "acquired" %>class="active"<% end %> role="presentation">
            <%= link_to "Listado de obras adquiridas", stories_acquired_path, class:"btn btn-default" %>
          </li>

          <!-- Historias creadas (sólo usuarios premium y admins) -->
          <% unless current_user.role_type == "FreeUser" %>

              <li <% if @option == "created" %>class="active"<% end %> role="presentation">
                <%= link_to "Creadas", stories_created_path, class:"btn btn-default" %>
              </li>

          <% end %>
      <% end %>
      <h2>Ultimas adquisiciones:</h2>


    </ul>
    <div class="row">
      <% Story.where(id: profile.additions.last(3).map(&:story_id)).each do |story| %>
      <div class="col-md-4">
        <a href="/stories/<%= story.id %>">
          <%= render 'stories/story_slot', story: story %>
        </a>
      </div>
      <% end %>
    </div>
  </div>

</div>
<hr/>
<% end %>
