<div class="row">

  <div class="col-md-2">
    <%= image_tag(@profile.avatar, class: "img-circle img-responsive") %>
  </div>


  <!-- Perfil -->
  <div class="col-md-4">
    <!-- Información -->
    <div class="row">
      <div class="col-md-7">
        <h2>
          <%= @profile.user.username %>
          <% if @profile.profile_status == 'PRIVATE' %>
          <i class="glyphicon glyphicon-lock private" aria-hidden="true"></i>
          <% end %>
        </h2>
      </div>
      <div class="col-md-5 text-right gris">
        <!-- TODO Añadir atributo de valoración -->
        <p>Obras adquiridas: <%= Addition.where(profile_id: @profile.id).count %></p>
        <p>Obras creadas: <%= @profile.stories.count %></p>
      </div>
    </div>
    <div class="row container-fluid boton">
      <!-- Información privilegiada -->
      <!-- t En caso de amistades completariamos la comprobación de abajo con: or @is_friend_profile -->
      <% unless @is_current_profile or @profile.profile_status == 'PUBLIC'  or (current_user.present? && current_user.role_type == 'Administrator') %>
        <p><em>Este perfil es privado y solo puede acceder a él si usted es amigo de este usuario. Tampoco podrá seguirle</em></p>
      <% else %>
          <p><em>Descripción:</em></p>
              <p><%= @profile.description %></p>
              <% unless @is_current_profile %>
                <% if current_user.profile.follows?(@profile) %>
                  <%= link_to "Dejar de seguir", "/profiles/unfollow/#{@profile.id}", class:"btn btn-main btn-block"  %>
                <% else %>
                  <%= link_to "Seguir", "/profiles/follow/#{@profile.id}", class:"btn btn-main btn-block"  %>
                <% end %>
              <% end %>
      <% end %>
      <% if @is_current_profile %>
        <%= link_to "Editar", edit_profile_path(@profile), class:"btn btn-main btn-block" %>
        </br>
      <% else %>
      <!-- t En caso de amistade comletariamos la comprobación de abajo con: or @is_friend_profile -->
        <%# t unless not current_user.present? %>
          <%# t  link_to "Enviar petición de amistad", "/request_friendships/send_request/#{@profile.user_id}", class: "btn btn-main btn-block"  %>
          </br>
        <%# t end %>
      <% end %>
      <% if current_user.present? && current_user.role_type == 'Administrator' && @profile.user.role_type == 'FreeUser' %>
          <%= link_to "Convertir a Premium", "/profiles/premium/#{@profile.id}", class:"btn btn-main btn-block"  %>
          </br>
      <% end %>
      <% if current_user.present? and @profile.user.banned_until.present? and (current_user.role_type == 'Administrator' || @profile.user == current_user) %>
          <p >Baneado hasta: <%= @profile.user.banned_until %></p>
      <% end %>
      <% if current_user.present? && current_user.role_type == 'Administrator' && @profile.user.role_type != 'Administrator' && @profile.user.banned_until == nil %>
        <form action="/profiles/ban/<%=@profile.id%>" method="get">
            <input type="text" name="date" placeholder="Banear hasta">
            <button type="submit", class="btn btn-main">Banear</button>
        </form>
      <% end %>
    </div>
    <!-- Seguidores/siguiendo -->
    <div class="row gris">
      <div class="col-md-3 col-md-offset-3 text-center">
        <%= @profile.followers_count %><br/>seguidores
      </div>
      <div class="col-md-3 text-center left-divider">
        <%= @profile.followees_count %><br/>siguiendo
      </div>

    </div>
  </div>

  <!-- Historias -->
  <h2>Historias</h2>
  <div class="col-md-6">
    <!-- Tabs para cada listado -->
    <ul class="nav nav-tabs nav-justified">

      <!-- Historias adquiridas (sólo usuarios logueados) -->


          <li <% if @option == "acquired" %>class="active"<% end %> role="presentation">
            <%= link_to "Adquiridas", stories_acquired_path, class:"btn btn-default" %>
          </li>

          <!-- Historias creadas (sólo usuarios premium y admins) -->
          <% unless current_user.role_type == "FreeUser" %>

              <li <% if @option == "created" %>class="active"<% end %> role="presentation">
                <%= link_to "Creadas", stories_created_path, class:"btn btn-default" %>
              </li>

          <% end %>



    </ul>
    <div class="row">
      <% @profile.stories.last(3).each do |story| %>
          <div class="col-md-4">
            <a href="/stories/<%= story.id %>">
              <%= render 'stories/story_slot', story: story %>
            </a>
          </div>
      <% end %>
    </div>
  </div>

</div>