
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>
    <% resource.errors.full_messages.each do |message| %>
        <div class="error">
          *<%= message %>
        </div>
    <% end %>

  <h1 id="cabecita">Formulario de Registro</h1>

  <div class="field">
    <%= f.text_field :name, class: "form-control", placeholder:"Nombre" %>
    <%= f.text_field :surname1, class: "form-control-inline col-md-6 ", placeholder:"Primer apellido" %>
    <%= f.text_field :surname2, class: "form-control-inline col-md-6 ", placeholder:"Segundo apellido" %>
  </div>

  <div class="field">
    <br>
    <br>
  </div>

  <div class="field">
    <%= f.email_field :email,  class: "form-control", placeholder:"Dirección de correo electrónico" %>
  </div>

  <div class="field">

  </div>

  <div class="field">
    <%= f.text_field :username, class: "form-control",placeholder:"Nombre de Usuario" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control-inline col-md-6",placeholder:"Contraseña" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control-inline col-md-6",placeholder:"Confirme su contraseña" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres mínimo)</em>
    <% end %>
    <br/>
  </div>

  <div class="field">

    <%= f.text_field :birthday,class: "form-control calendario", 'data-provide'=>'datepicker',id:'dt5', placeholder:'Fecha de Nacimiento' %>
    <script>
      $("#dt5").datepicker({
          format: 'dd/mm/yyyy'
        })
        .on('changeDate', function(ev){
          $('#dt5').datepicker('hide');
        });
    </script>



  </div>

  <div class="field">
    <%= f.text_field :phone, class: "form-control",placeholder:"Teléfono" %>
  </div>

  <div class="field">
    <%= f.hidden_field :sku, value: User.generateSKU %>
  </div>

  <br>

  <%= f.submit "Registrarse" , class: "btn btn-primary btn-block" %> 

<% end %>

<hr>

<%= button_to 'Iniciar sesión', new_user_session_path, class: 'btn btn-danger btn-block', method: :get %>

<%= link_to 'Descubrir', stories_example_path, class: 'btn btn-success btn-block', data: {'no-turbolink'=> 'true'}, method: :get %>
