<%= form_for([@comment])  do |f| %>

  <div class="container">

    <% if @comment.errors.full_messages.length > 0 %>
      <div class="errors">
        <p>Se encontraron los siguientes errores al guardar el comentario:</p>
        <% @comment.errors.full_messages.each do |message| %>
          <p class="error">*<%= message  %></p>
        <% end %>
      </div>
    <% end %>

    <h3><%= name %></h3>
    <form>
      <%= f.text_field :title, placeholder: 'Título', class:'form-control' %>
      <%= f.text_area :body, placeholder: 'Comentario', class:'form-control' %>
      <%= f.hidden_field :story_id, :value => @idStory %>
      <%= f.submit 'Publicar', class: "btn btn-main" %>
      <%= link_to "Cancelar", story_path(:id => @idStory), class: "btn btn-main" %>
    </form>
  </div>

<% end %>