<h4>Introduzca su dirección de email y en breve le enviaremos un correo con instrucciones para obtener una nueva contraseña</h4>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

	<%= f.email_field :email, autofocus: true, :placeholder => "Email", class: "form-control" %>

	<%= f.submit "Confirmar", class: "btn btn-primary btn-block" %>

<% end %>

<br/>
                  
<%= button_to 'Cancelar', new_user_session_path, class: 'btn btn-danger btn-block', method: :get %>