<div class="index-background-white"> <!-- TODO: Clase CSS por hacer -->
  <div class="index-categories">
    <div class="row">
      <div class="col-md-3">
        <h3>Explora por géneros:</h3>
      </div>
      <div class="col-md-9">
        <div class="row">
          <% @categories.first(6).each_with_index do |category, i| %>
            <div class="col-md-2">
              <a href='/stories/search?category_id=<%= category.id %>'>
                <% unless i.odd? %>
                  <button type="submit" class="btn btn-primary btn-category-1">
                    <%= category.name %>
                  </button>
                <% else %>
                  <button type="submit" class="btn btn-primary btn-category-2">
                    <%= category.name %>
                  </button>
                <% end %>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'welcome/slider' %>

<div class="index-new-stories">
  <div class="center title">
    <h2>Novedades</h2>
  </div>
  <% @categories.each_slice(2) do |categories| %>
    <div class="row">
      <% categories.each do |category| %>
        <div class="col-md-6">
          <h3><img src="<%= category.icon %>" alt="<%= category.name %>" class="category-image" /><%= category.name %></h3>
          <hr/>
          <div class="row">
            <% @newest_stories_by_category[category].each do |story| %>
              <div class="col-md-4">
                <%= render 'stories/story_slot', story: story %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="index-writers">
  <div class="center title">
    <h2>Escritores</h2>
  </div>
  <div class="row">
    <% @writers.each do |writer| %>
      <div class="col-md-2">
        <a href="/profiles/<%= writer.id %>">
          <%= image_tag writer.avatar, class: "img-circle img-responsive" %>
          <div class="center">
            <p class="writer-name" ><%= writer.name %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <div class="center writer-buttom">
    <%= button_to 'Ver todos los escritores', '/profiles', class: 'btn btn-default', method: :get %>
  </div>
</div>
