<div class="row">
  <h2 class="text-center"><b>Explora por géneros</b></h2>
  <br/>
  <% @categories.first(6).each_with_index do |category, i| %>
    <div class="col-md-2">
      <a href="/categories/<%= category.id %>" class="btn btn-main btn-block">
        <%= category.name %>
      </a>
    </div>
  <% end %>
</div>

<hr />

<div class="row">
  <h2 class="text-center"><b>Novedades</b></h2>
  <% @categories.each_slice(2) do |categories| %>
    <% categories.each do |category| %>
      <% if @newest_stories_by_category[category] != nil %>
      <div class="col-md-6 category-block">
        <h3 class="category-header"><a href="/categories/<%= category.id %>">
          <img src="<%= category.icon %>" alt="<%= category.name %>" />
          <span><%= category.name %></span>
        </a></h3>
        <hr/>
        <div class="row">
          <% @newest_stories_by_category[category].each do |story| %>
            <div class="col-md-4">
              <%= render 'stories/story_slot', story: story %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<hr />

<div class="row">
  <h2 class="text-center"><b>Escritores</b></h2>
  <% @writers.first(6).each do |writer| %>
    <div class="col-md-2">
      <a href="/profiles/<%= writer.id %>">
        <%= image_tag writer.avatar, class: "img-circle img-responsive writer-avatar" %>
        <p class="text-center"><b><%= writer.name %></b></p>
      </a>
    </div>
  <% end %>
</div>
<div class="text-center writer-button">
  <%= button_to 'Ver todos los escritores', '/profiles', class: 'btn btn-main', method: :get %>
</div>
