<div class="row">
  <div class="col-md-4">
    <div class="story-metadata">
      <div class="center">
        <div class="story">
          <!-- TODO: Hacer que la imagen se posicione igual que como en las imágenes del diseñador -->
          <%= render 'stories/story_cover', story: story %>
        </div>
      </div>
      <h2><%= story.creatorProfile.name %></h2>
      <hr/>
      <p>Géneros:</p>
      <!-- Solución prvisional -->
      <% story.categories.each do |category| %>
      <p>&#9679; <%= category.name %></p>
      <% end %>
      <!-- No se muestra en esta versión -->
      <!--<p>Idioma: <%= story.language %></p>-->
      <!-- TODO: Mejorar la forma en la que se muestra el idioma -->
      <p>Fecha de publicación: <%= story.release_date ? story.release_date.strftime('%d/%m/%Y') : 'Sin fecha' %></p>
      <% if current_user.present? %> <!-- Evitar "NilException" -->
          <% if story.creatorProfile.id == current_user.profile.id %>
              <div class="center" style="margin-bottom: 10px;">
                <%= link_to "Editar información", edit_story_path(@story), class:"btn btn-default" %>
              </div>
          <% end %>
      <% end %>
      <% if current_user.present? %> <!-- Evitar "NilException" -->
        <% if story.creatorProfile.id == current_user.profile.id %>
          <div class="center" style="margin-bottom: 10px;">
            <%= button_to 'Ir al editor de historias', "/maker/#{story.id}",  class: 'btn btn-default', method: :get %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="story-data">
      <h2 class="title"><%= story.title %></h2>
      <hr/>
      <div class="synopsis">
        <h4><strong>Resumen</strong></h4>
        <p><%= story.description %></p>
      </div>
      <div class="buttons">
        <% unless current_user.nil? %>
          <% unless story.has_been_acquired_by_user?(current_user) or
              story.creatorProfile.id == current_user.profile.id %>
            <form action='/additions/create/<%=story.id%>' method="get">
            <!-- No hay pagos en esta versión -->
            <!--<form action='/payment/create/<%=story.id%>' method="get">-->
              <button type="submit" class="btn btn-primary">
                <p class="btn-label">Adquirir historia</p>
                <!-- No se muestra en esta versión -->
                <!--<p class="price">Precio: <span><%= story.price %> €</span></p>-->
              </button>
            </form>
          <% else %>
            <% if story.chapters.any? %>
              <form action="/stories/read/<%= story.id %>" method="get">
                <button type="submit" class="btn btn-default">
                  <p class="btn-label">Leer</p>
                </button>
              </form>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- Comentarios -->
    <div class="story-comments">
      <h3>Comentarios</h3>
      <%= render 'comments/list', id: @story.id %>
    </div>
    
  </div>
</div>
