<%#= render "stories/form", name: "Edit story" %>
<h1>Editar información de la historia</h1>

<%= form_for(@story) do |f|%>
    <% if @story.errors.full_messages.length > 0 %>
        <div class="errors">
          <p>Se encontraron los siguientes errores al guardar la historia:</p>
          <% @story.errors.full_messages.each do |message| %>
              <p class="error">*<%= message  %></p>
          <% end %>
        </div>
    <% end %>

    <div class="form-group">
      <label for="title">Portada</label><br>
      <% unless @story.cover.present? %>
          <!-- Solución provisional -->
          <% cat = I18n.transliterate(@story.categories.first.name).downcase %>
          <img class="cover-image" title="<%= @story.title %>" src="/assets/categories_covers/<%= cat %>.jpg" />
      <% else %>
          <img class="cover-image" title="<%= @story.title %>" src="<%= @story.cover %>" />
      <% end %>
      <br/>
      <br/>
      <%= f.text_field :cover, placeholder: "URL de la portada", class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="title">Título</label><br>
      <%= f.text_field :title, placeholder: "Título", class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="description">Sinopsis</label><br>
      <%= f.text_area :description, placeholder: "Sinopsis", class: "form-control" %>
    </div>
    <div class="form-group">
      <label for="categorias">Elija los géneros (al menos uno)</label>
      <% @categories=Category.all%><br>

      <% @categories.each do |category|%>
          <%#= hidden_field_tag "story[category_ids][]", nil%>
          <%#= check_box_tag "story[category_ids][]", category.id, @story.category_ids.include?(category.id), id:dom_id(category)%>
          <%#= label_tag dom_id(category), category.name%>
          <%= check_box_tag "categories[]", category.id,  @story.categories.ids.include?(category.id)%>
          <%= category.name%><br>
      <%end%>



      <%# @categories.each do |category| %>
          <%# @story.categories.each do |categoryStory| %>
              <%# if (category.id) == (categoryStory.id)%>
                  <!--<br/><%#= check_box_tag "categories[]", category.id , true%>&nbsp;<%#= category.name %>
              <%#else%>
                  <br/><%#= check_box_tag "categories[]", category.id %>&nbsp;<%#= category.name %>
              <%#end%>
          <%#end%>
      <%# end %>-->

      <%#= submit_tag "Guardar"%>
      <div class="field">
        <%= f.submit "Guardar", class: "btn btn-primary" %>
      </div>
    </div>

    <!--<div class="field">
      <%#= f.submit "Guardar", class: "btn btn-primary" %>
    </div>-->



<%end%>
