<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="entrada">
    <%= f.email_field :email, autofocus: true, :placeholder => "Correo electrónico", class: "form-control" %>
    <%= f.password_field :password, autocomplete: "off", :placeholder => "Contraseña", class: "form-control" %>
    <% if devise_mapping.rememberable? -%>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, "Mantener la sesión activa" %>
    <% end %>
  </div>

  <%= f.submit "Iniciar sesión" , class: "btn btn-primary btn-block" %> 

<% end %>

<b><%= link_to "¿Ha olvidado su contraseña?", new_password_path(resource_name), class: "link" %></b>

<hr>

<a href="/auth/facebook" target="_blank" class="btn btn-block btn-social btn-facebook">
  <span class="fa fa-facebook"></span>
  <span>Conectar con Facebook</span>
</a>

<a href="/auth/twitter" target="_blank" class="btn btn-block btn-social btn-twitter">
  <span class="fa fa-twitter"></span>
  <span>Conectar con Twitter</span>
</a>

<hr>
                  
<%= button_to 'Registrarse', new_user_registration_path, class: 'btn btn-danger btn-block', method: :get %>

<%= link_to 'Descubrir', stories_example_path, class: 'btn btn-success btn-block', data: {'no-turbolink'=> 'true'}, method: :get %>






<div class="container">
      <div class="row">
        <div class="col-sm-12" id="bodyCol">
          <%= yield %>
          <br>
          <% if flash.alert %>
          <p class="alert-notice"><%= flash.alert %></p>
          <% end %>
          <% if flash.notice %>
          <p class="alert-alert"><%= flash.notice %></p>
          <% end %>
        </div>
      </div>
    </div>