

<%= form_for(@donation, url: '/payment/donate', method: 'post')  do |f| %>

  <% if @donation.errors.full_messages.length > 0 %>
        <div class="errors">
          <p>
            Se encontraron los siguientes errores al guardar la donación
          </p>
          <% @donation.errors.full_messages.each do |message| %>
              <p class="error">
                *<%= message  %>
              </p>
          <% end %>
        </div>
    <% end %>


    <div class="container " id="ccdon">

        <div class=" jumbotron jdon1  col-md-8 col-md-offset-2 row " >
          <div class="jumbotron jdon2  col-md-6 col-md-offset-3 row" >
          <h1 id="cabdon">Nueva donacion</h1>
          <div class="row center">

            <div class="field">
              <%= f.text_field :amount,id:'textdon',placeholder:'Cantidad a donar en euros' %>
            <!-- <%= f.label :message, 'Mensaje' %> --><br><br>
            <%= f.text_area :message,id:'textdon', placeholder: 'Nos interesa saber tu opinión para seguir creciendo.' %>
              <div class="row boton">
                <%= f.submit 'Donar' , class:"btn btn-primary btn-block boton"%>
            </div>
          </div>

            <div class="col-md-6 center">

            </div>
          </div>
      </div>
          </div>
    </div>





<% end %>