<div class="container">

  <div class="row">

    <div class="col-md-3 text-center">
      <h1><%= @category.name  %></h1>
      <% cat = I18n.transliterate(@category.name).downcase %>
      <img class="cover" src="/assets/categories_covers/<%= cat %>.jpg">
      <h4><%= @category.description %></h4>
      <div class="buttons text-center">
        <% if user_signed_in? and (current_user.role_type == 'Administrator') %>
        <%= link_to "Editar", edit_category_path(@category), class:"btn btn-default"  %>
        <% end %>
        <%= link_to "Atrás", categories_path, class:"btn btn-default"  %>
      </div>
    </div>

    <div class="col-md-9 text-center">
      <div class="subtitle">
        <h3>Historias</h3>
      </div>
      <div class="row">
        <% @category.stories.each do |story| %>
        <div class="col-md-3">
          <%= render 'stories/story_slot', story: story %>
        </div>
        <% end %>
      </div>
    </div>

  </div>

</div>








