<p id="notice"><%= notice %></p>
<h1>Peticiones pendientes</h1>
  <div class="container-fluid">
    <% @request_friendships.each do |request_friendship| %>
    <div class="row">
      <div class="col-md-12">
        <div class="section">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <% a = Profile.where({user_id: request_friendship.sender_id}).first.avatar %>
                <%= image_tag( a, class: "img-circle") %>
              </div>
              <div class="col-md-9">
                <div class="row text-center">
                  <%= request_friendship.message %>

                </div>
                <br/>
                <div class="row">
                  <div class="col-md-6 text-right">
                    <%= link_to "Aceptar", "/request_friendships/deciding_request/#{request_friendship.id}/1", class: "btn btn-primary"  %>
                  </div>
                  <div class="col-md-6 text-left">
                      <%= link_to "Rechazar", "/request_friendships/deciding_request/#{request_friendship.id}/2", class: "btn btn-primary"  %>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <% end %>

<%= link_to 'Back', request_friendships_path %>