<header>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header col-md-4">
        <a class="navbar-brand img-container" href="/">
          <img alt="Tree Story" src="/assets/logo fondo.png">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
          <li><%= link_to "Descubrir", "/stories/example", method: :get %></li>
          <li><a href="/stories">Historias</a></li>
          <li><a href="/categories">Géneros</a></li>
          <li><a href="/membership_cards/exchange">Suscripción premium</a></li>
          <% if current_user.role_type == 'PremiumUser' %>
          <li><%= link_to "+ Nueva Historia", "/stories/new", class: "btn newstory", method: :get %></li>
          <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle img-container" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= image_tag current_user.profile.avatar, class: "img-circle" %>
              <span class="caret"></span></a>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/profiles/<%= current_user.profile.id %>">Mi perfil</a></li>
              <li><a href="/profiles">Comunidad</a></li>
              <li><a href="/connections/search">Mis conexiones</a></li>
              <li><a href="/membership_cards/exchange">Suscripción premium</a></li>
              <% if current_user.role_type == 'Administrator' %>
              <li role="separator" class="divider"></li>
              <li><a href="/categories/new">Crear género</a></li>
              <li><a href="/membership_cards/generate">Generar código</a></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
          <% else %>
          <li><a href="/user/sign_in">Iniciar sesión</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="banner container-fluid">
    <div class="col-md-8 col-md-offset-2 jumbotron jumbo-banner">
      <h3>Contrate este banner</h3>
    </div>
  </div>
</header>